.container {
  width: 60%;
  background: #fff;
  border:2px solid #000000;
  margin: 10px auto 10px auto !important;
  min-height: 90vh;
  overflow-y: auto;
  padding-top:40px;
  padding-right: 8%;
  padding-left: 8%;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 4rem;
}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 3rem;
  margin-left: 6px;
  margin-top: 6px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: blue;
  margin-bottom: 6px;
}
.btn {
  margin-left: 10px;
  margin-top: 10px;
  border: 1px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  padding: 6px 15px 6px 15px;
  margin-bottom: 6px;
  margin-right: 10px;
  background: #c2e7ff;
  color: #001d35;
  font-weight: 500;
}
.avatar {
  margin-top: 6px;
}
.docs {
  margin-top: 10px;
  border: 1px;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 5px 8px 5px 8px;
  margin-bottom: 6px;
  font-size: 18px;
  color: black;
  font-weight: 500;
}
.sidebar {
  position: fixed;
}
.sidebar-parent {
  display: flex;
  justify-content: flex-end;
}
li {
  list-style: none;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px;
  border-radius: 5px;
}

.head {
  display: flex;
  align-items: center;
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
   overflow: hidden;
}

/* Default styles */
.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Add this line to allow items to wrap to new rows */
  width: 90%;
  margin-left: 5%;
  position: sticky;
  top:60px;
  border-radius: 20px;
  z-index: 1;
  background: rgb(241,251,253);
  border: 2px ;
   cursor: text;
}

/* Media query for screen zoomed to 125% */
@media screen and (max-width: 125%) {
  .ql-toolbar.ql-snow {
    width: 70%;
    margin-left: 15%;
  }
}


.ql-editor{
  cursor: text;
}